<!DOCTYPE html>
<html lang="en" ng-app='dataVis'>
<head>
  <meta charset="UTF-8">
  <title>City OS Hackathon demo</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="javascripts/highcharts-ng.js"></script>
  <script src="javascripts/main.js"></script>
</head>
<body>

<div id="container">
  <div ng-controller='ChartController'>
    <select id="chartType" ng-model="chartConfig.options.chart.type">
      <option value="column">Column</option>
      <option value="line">Line</option>
      <option value="spline">Spline</option>
      <option value="scatter">Scatter</option>
    </select>

    <highchart config="chartConfig"></highchart>
  </div>

  <ol id="listContainer" ng-controller='ListController'>
    <li ng-repeat='value in data track by $index'>
      {{ value }}
    </li>
  </ol>
</div>

</body>
</html>
